# Print Function

Print is a python buit-in function/statement ()

In [7]:
print("Pakistan Zindabad")
#name       Argument

Pakistan Zindabad

In [3]:
print("I am a string value", 11, 12.5, True ,False)

I am a string value 11 12.5 True False

In [6]:
print("I am a string value", 11, 12.5, True ,False,sep="********")

I am a string value********11********12.5********True********False

In [11]:
print("Python for all",end="\t\t\t")
print("Hello python")

Python for all			Hello python

# Data Types in Python

- String (str)
- Integer  (int)
- Float   (float)
- Boolean  (True/False)

# Variables for String

In [16]:
age = 23.7

# Age is a varaible
# 23.7 is a value
# we can say 23.7 is assigned to age
#  = >>>> assignment operator

In [15]:
name = "Nasir Hussain"

In [17]:
age

23.7

In [18]:
name

'Nasir Hussain'

In [19]:
id(age)

2985567609904

In [20]:
type(age)

float

In [21]:
type(name)

str

# Operators

- Addition (+)
- Subtraction (-)
- Multiplication (*)
- Division (/) and (//)

In [22]:
marks = 45

In [23]:
marks + 50

95

In [24]:
marks

45

In [25]:
marks + age

68.7

In [26]:
age+1

24.7

In [31]:
age = age + 1

In [32]:
age

26.7

In [38]:
age +=1

In [39]:
age

32.7

In [48]:
age -=1
age

23.700000000000003

Divsion: By default python division is float

In [54]:
10//3

3

In [55]:
import math

In [56]:
math.floor(23.9)

23

In [57]:
math.ceil(23.1)

24

# Variable names Legal and Illegal

In [58]:
print = "Hello"

In [59]:
print

'Hello'

In [60]:
else = "Heelo"

SyntaxError: invalid syntax (Temp/ipykernel_6976/567253053.py, line 1)

Reserved words cannot be used as  a variable name

# Space can not be included in variable name

In [61]:
father name  = "Khan"

SyntaxError: invalid syntax (Temp/ipykernel_6976/2771933092.py, line 1)

Variable name can not be atarted with A NUMBER

In [62]:
1student = "Ali"

SyntaxError: invalid syntax (Temp/ipykernel_6976/452052611.py, line 1)

Special characters can niot be used in Variable

In [64]:
father@name
father!name
father#name
father$name
father?name
father-name
father.name

SyntaxError: invalid syntax (Temp/ipykernel_6976/530348908.py, line 2)

In [65]:
father_name = "Asif"

In [66]:
fatherName = 'Asif'

In [67]:
my_new_book= "Programming"

In [68]:
student1 = "saad"

In [69]:
student1name="asad"

In [70]:
name = "Nasir"

In [71]:
name = "Hassan"

In [72]:
Z= "FAHAD"

# User Input

In [1]:
age = input("Enter your age please ")
print(age)

Enter your age please 2
2

In [4]:
type(age)

str

In [2]:
name  = input("Enter your name here ")

Enter your name here asad

In [3]:
print("Dear your age is", age, "and your name is", name)

Dear your age is 2 and your name is asad

# String Concatenation

In [4]:
first_name = "Asadullah Khan"
last_name = "Ghalib"

In [6]:
first_name + " " + last_name

'Asadullah Khan Ghalib'

# + operator

int + int >>>> addition
string + string >>>> concatenation
int + str >>>> error
str + int >>>> error

In [7]:
12 + 23

35

In [8]:
"a" + "b"

'ab'

In [9]:
12 + "a"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [10]:
"b"  +2

TypeError: can only concatenate str (not "int") to str

In [12]:
print("Dear your name is "+name+ " and your age is"+ age )

Dear your name is asad and your age is2

In [13]:
age = age + 1

TypeError: can only concatenate str (not "int") to str

# Type Casting

In [19]:
number_of_apples  = "100"
number_of_apples = int(number_of_apples)

In [20]:
number_of_apples

100

In [21]:
a = "apple"
int(a)

ValueError: invalid literal for int() with base 10: 'apple'

In [22]:
number= 123

In [23]:
str(number)

'123'

In [24]:
age  =int(input("Please tell me you age"))
name = input("Please tell me your name")

Please tell me you age23
Please tell me your nameHaasan

In [25]:
print("Dear your name is "+name+ " and your age is"+ age )

TypeError: can only concatenate str (not "int") to str

In [27]:
print("Dear your name is "+name+ " and your age is "+ str(age))

Dear your name is Haasan and your age is 23

# String formation

In [29]:
company = input("Enter the manufacturer of the unit")
number_of_units = int(input("How many units you want to buy?"))
price_per_unit = int(input("Enter the price of a unit"))

Enter the manufacturer of the unitDawlance
How many units you want to buy?10
Enter the price of a unit50000

In [32]:
print("You have ordered {} units of the company {}. The total cost of the units is {}".format(number_of_units,company,price_per_unit*number_of_units))

You have ordered 10 units of the company Dawlance. The total cost of the units is 500000