In [2]:
name = "PAKISTAN"

In [3]:
for char in name[::-1]:
    print(char,end='')

NATSIKAP

In [ ]:
#      -4 -3 -2 -1
lst = [11,22,33,44]
#       0  1  2  3

In [ ]:
lst[::-1]

In [ ]:
lst[-1]

In [4]:
lst1 = ['Nasir', 'Asad']
lst2 = ['Hussain', 'Rafiq']

In [5]:
for name in lst1:
    for sirname in lst2:
        print(f"{name} {sirname}")

Nasir Hussain
Nasir Rafiq
Asad Hussain
Asad Rafiq

In [6]:
lst1 = ['Nasir', 'Asad']
lst2 = ['Hussain', 'Rafiq']

for a in lst1:
    print(f"{a} {lst2[lst1.index(a)]}")

Nasir Hussain
Asad Rafiq

In [7]:
lst1.index('Nasir')
lst2[lst1.index('Nasir')]

'Hussain'

In [8]:
val1 =[1,2,3,4,5,6,7,8]
val2 = [1,2,3,4,5,6,7,8]
for a in val1:
    print(f"{a} {val2[val1.index(a)]}")

1 1
2 2
3 3
4 4
5 5
6 6
7 7
8 8

# Dictionary

In [ ]:
# empty dictionary
dictionary = {}
type(dictionary)

In [ ]:
# adictionary with keys nad vaLUES
dictionary={'name':'Saylani', 'campus':'Gulshan', 'course':'DSAI'}
 #             key    value       key    value       key    value

In [ ]:
# fetching a value by using its keys
dictionary['campus']

In [ ]:
dictionary['name']

In [ ]:
# adding a new key value pair into a dictionary
dictionary['teacher']='Nasir'

In [ ]:
dictionary

In [ ]:
# UPDAting a values against a key

dictionary['teacher']="Abdullah"
dictionary

In [ ]:
del dictionary['course']
dictionary

In [2]:
score = {'babar':45, "rizwan":89,"fakhar":7}
score

{'babar': 45, 'rizwan': 89, 'fakhar': 7}

In [ ]:
rollnumns={1:"nasir", 2:'hasan'}
rollnumns

In [ ]:
for a in score:
    print(a)

In [ ]:
for a in score.keys():
    print(a)

In [ ]:
for a in score.values():
    print(a)

In [ ]:
for a in score.items():
    print(a)

In [3]:
for key,val in score.items():
    print(f"key:{key}  value:{val} ")

key:babar  value:45
key:rizwan  value:89
key:fakhar  value:7

In [ ]:
for key in score.keys():
    print(score[key])

In [ ]:
name,score = 'babar', 100

In [ ]:
name

In [ ]:
score

In [ ]:
a = (10, 23)
a